.acm-slideshow .owl-carousel {
  cursor: move;
  padding: 0;
  overflow: hidden;
  background: #111111;
}
.acm-slideshow .owl-carousel .owl-wrapper-outer {
  z-index: 0;
}
.acm-slideshow .owl-carousel .item {
  position: relative;
}
.acm-slideshow .owl-carousel .item:before {
  background: rgba(0, 0, 0, 0.6);
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
}
.acm-slideshow .owl-carousel .slider-content {
  background: transparent;
  position: absolute;
  bottom: 120px;
  right: 0;
  text-align: center;
  width: 100%;
}
.acm-slideshow .owl-carousel .slider-content .slider-content-inner {
  padding: 0 80px;
}
@media (max-width: 991px) {
  .acm-slideshow .owl-carousel .slider-content .slider-content-inner {
    padding: 0 20px;
  }
}
.acm-slideshow .owl-carousel .slider-content .slider-content-inner > span {
  background-color: #2637a6;
  color: #ffffff;
  display: inline-block;
  font-size: 12px;
  margin-bottom: 20px;
  padding: 5px 8px;
  text-transform: uppercase;
  font-weight: 600;
}
.acm-slideshow .owl-carousel .slider-content .slider-content-inner > h1 {
  color: #ffffff;
  font-size: 48px;
  font-weight: 700;
  line-height: 52px;
  margin-top: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
@media (max-width: 991px) {
  .acm-slideshow .owl-carousel .slider-content .slider-content-inner > h1 {
    font-size: 30px;
    line-height: 40px;
  }
}
.acm-slideshow .owl-carousel .slider-content .slider-content-inner > h1 a {
  color: #ffffff;
}
.acm-slideshow .owl-carousel .slider-content .slider-content-inner > p {
  color: rgba(255, 255, 255, 0.8);
  padding: 0 40px;
  margin-bottom: 40px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 13px;
  line-height: 1.7;
}
@media (min-width: 1200px) {
  .acm-slideshow .owl-carousel .slider-content .slider-content-inner > p {
    padding: 0 240px;
  }
}
.acm-slideshow .owl-carousel .owl-controls {
  right: 0;
  bottom: 20px;
  margin: 0;
  position: absolute;
  width: 100%;
}
.acm-slideshow .owl-carousel .ja-animation {
  transform: translateY(70%);
  -webkit-transform: translateY(70%);
  opacity: 0;
  filter: alpha(opacity=0);
  transition: all 1.3s;
  transition-property: transform, opacity;
}
.acm-slideshow .owl-carousel .ja-animation[delay-transtion="1"] {
  transition-delay: 100ms;
}
.acm-slideshow .owl-carousel .ja-animation[delay-transtion="2"] {
  transition-delay: 300ms;
}
.acm-slideshow .owl-carousel .ja-animation[delay-transtion="3"] {
  transition-delay: 600ms;
}
.acm-slideshow .owl-carousel .ja-animation[delay-transtion="4"] {
  transition-delay: 900ms;
}
.acm-slideshow .owl-carousel .owl-item.active .ja-animation {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  opacity: 1;
  filter: alpha(opacity=100);
}