.docs-section {
  font-size: 14px;
  margin-top: 40px;
}
.docs-section .row {
  margin-left: -15px;
  margin-right: -15px;
}
.docs-section .row > div {
  padding-left: 15px;
  padding-right: 15px;
}
.docs-section h3 {
  font-weight: 400;
}
.docs-section .page-header h2 {
  border-bottom: 2px solid #ebebec;
  color: #222222;
  display: inline-block;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}
.example-type h1,
.example-type h2,
.example-type h3,
.example-type h4,
.example-type h5,
.example-type h6 {
  margin: 20px 0;
  font-weight: 100;
}
.example-buttons .btn,
.example-inputs .btn,
.example-buttons .form-control,
.example-inputs .form-control {
  box-shadow: none;
  width: 100%;
  margin-bottom: 20px;
}
.example-buttons ul,
.example-inputs ul {
  padding: 0;
  list-style: none;
}
@media screen and (min-width: 768px) {
  .example-buttons ul li,
  .example-inputs ul li {
    float: left;
    width: 30%;
    padding-right: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .example-buttons ul li {
    width: 50%;
  }
}